
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule journal?$ journal.php

RewriteRule journals/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+) journal?journal_id=$1&journal_title=$2 [QSA,L] 

RewriteRule ^duplicate?$ archive.php
RewriteRule ^archive/([a-zA-Z0-9])/([a-zA-Z0-9]+)  duplicate?journal_id$1&journal_title=$2 [QSA,L]


RewriteRule ^article-in-pres?$ article-in-press.php
RewriteRule ^article-in-press/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+) article-in-pres?journal_id=$1&journal_title=$2 [QSA,L]

RewriteRule ^single?$ editor.php
RewriteRule ^editor/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)  single?editor_id=$1&journal_id=$2 [QSA,L]

RewriteRule ^current-issue?$ current-issue.php
RewriteRule ^current_issues/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+) current-issue?journal_id=$1&journal_title=$2 [QSA,L]

RewriteRule ^previous-issue?$ previous-issue.php
RewriteRule ^previous_issues/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+) previous-issue?journal_id=$1&journal_title=$2 [QSA,L]

RewriteRule ^editorial-boar?$ editorial-board.php
RewriteRule ^editorial-board/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+) editorial-boar?journal_id=$1&journal_title=$2 [QSA,L]

RewriteRule ^contact?$ contact.php
RewriteRule ^journal_contact/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+) contact?journal_id=$1&journal_title=$2 [QSA,L]


RewriteRule ^key?$ keywords.php
RewriteRule ^Keywords/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+) key?journal_id=$1&journal_title=$2 [QSA,L]

RewriteRule ^k?$ keywords-detail.php
RewriteRule ^keyword/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+) k?journal_id=$1&keyword_id=$2&keyword_title=$3 [QSA,L]

RewriteRule ^rc?$ archive.php
RewriteRule ^archive/([a-zA-Z0-9])/([a-zA-Z0-9]+)  prc?journal_id$1&journal_title=$2 [QSA,L]

RewriteRule ^ar?$ article.php
RewriteRule ^articles/([a-zA-Z0-9]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+) ar?journal_id=$1&artical_id=$2&artical_title=$3 [QSA,L]






RewriteRule ^z?$ download.php
RewriteRule ^edelweiss/([a-zA-Z0-9])/([a-zA-Z0-9]+)  z?artical_id=$1&artical_title=$2 [QSA,L]


